.fbevents {
  border-radius: 3px;
  overflow: hidden;
  background-color: #F6F7F9;
  padding: 8px;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.38;
  text-size-adjust: none;
  color: #4b4f56;

  &, .fb-event {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  }
}

.entry-content article.fb-event {
  max-width: 500px;
  background-color: #fff;
  padding: 12px 15px;
  margin-right: auto;
  margin-left: auto;

  &:first-of-type {
    border-radius: 3px 3px 0 0;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &:last-of-type {
    border-radius: 0 0 3px 3px;
    margin-bottom: 8px;
  }

  .event-content {
    display: flex;
    align-items: center;
  }

  .event-picture {
    width: calc(100% + 30px);
    margin: -12px -15px 12px;
    line-height: 0;
    padding-top: 58.49462%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  .event-info {
    overflow: hidden;
    flex-grow: 1;
    padding: 0 15px;

    > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  h1 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
    margin: 0;

    &:before, &:after {
      content: inherit;
      content: initial;
    }

    &, a {
      color: #000;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }

  .event-date {
    text-align: center;
    align-self: flex-start;

    span {
      display: block;
    }
  }

  .event {
    &-month {
      margin-top: 2px;
      color: #fa3e3e;
      text-transform: uppercase;
    }

    &-day {
      font-size: 24px;
      line-height: 28px;
      font-weight: 300;
      color: #1d2129;
    }

    &-place {
      &:before {
        content: " · ";
      }

      &:empty {
        display: none;
      }
    }

    &-people {
      color: #90949c;
    }
  }

  + .fb-event {
    margin-top: -1px;

    &:not(:nth-child(2)) {
      border-top: 0;
    }
  }

  &:not(:first-of-type) .event-picture {
    display: none;
  }
}