@charset "UTF-8";
.fbevents {
    overflow: hidden;
    border-radius: 3px;
    background-color: #f6f7f9;
}

.fbevents,
.fbevents > ul li {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.fbevents > ul {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.38;
    overflow-y: auto;
    max-width: 500px; 
    margin: 0 auto;
    padding: 8px;
    padding-bottom: 0;
    list-style: none;
    color: #4b4f56;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
            text-size-adjust: none;
}

.fbevents > ul li {
    padding: 12px 15px;
    background-color: #fff;
}

.fbevents > ul li:first-child {
    border-radius: 3px 3px 0 0;
}

.fbevents > ul li:first-child:not(:last-child) {
    margin-bottom: 11px;
}

.fbevents > ul li:last-child {
    margin-bottom: 8px;
    border-radius: 0 0 3px 3px;
}

.fbevents > ul li + li {
    margin-top: -1px;
}

.fbevents > ul li + li:not(:nth-child(2)) {
    border-top: 0;
}

.fbevents > ul li:not(:first-of-type) .event-picture {
    display: none;
}

article.fb-event .event-content {
    display: flex;
    align-items: center;
}

article.fb-event .event-picture {
    line-height: 0;
    position: relative;
    overflow: hidden;
    width: calc(100% + 30px);
    margin: -12px -15px 12px;
    padding-top: 58.49462%;
}

article.fb-event .event-picture img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

article.fb-event .event-info {
    overflow: hidden;
    padding: 0 15px;
    flex-grow: 1;
}

article.fb-event .event-info > * {
    overflow: hidden;
    text-align: left; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

article.fb-event h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0;
    text-transform: none;
    border-bottom: 0;
}

article.fb-event h1,
article.fb-event h1 a {
    color: #000;
}

article.fb-event a {
    text-decoration: none;
}

article.fb-event a:hover {
    text-decoration: underline;
}

article.fb-event p {
    margin: 0;
}

article.fb-event .event-date {
    text-align: center;
    align-self: flex-start;
}

article.fb-event .event-date span {
    display: block;
}

article.fb-event .event-month {
    margin-top: 2px;
    text-transform: uppercase;
    color: #fa3e3e;
}

article.fb-event .event-day {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #1d2129;
}

article.fb-event .event-place:before {
    content: " · ";
}

article.fb-event .event-place:empty {
    display: none;
}

article.fb-event .event-people {
    color: #90949c;
}
